.navbar-brand{
    padding: 100px;
    
}
.nav-item{
    padding: 20px;
}
.container{
    margin-top: 50px;
}
.row{
    padding-left: 80px;
}
.col{
    
    display: flex;
}
.bigger { font-size:150%; }
